body {
    font-family: 'Roboto', sans-serif;
    /*margin: 0;*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --main-color: #431220;
    --main-color2: #560d21;
    --main-color3: #7e2f44;
    --main-color4: #7c1c36;
    --main-color-hover: #9b0242;
    --main-color-shadow: #d5156582;
    --color-white: #FFFFFF;
}
a.login-register-text{
    text-decoration: none;
    color: #431220;
}
.img-icono img{
    width: 100px;
    height: 100px;
}
.bi-icon{
    font-size: 35px;
    color: #431220;
}

.bg-primary-card {
    color: var(--color-white);
    background-color: var(--main-color) !important;
}

label.error {
    margin: 0px;
    display: block;
    color: #640000;
}

.px-2-menu {
    padding-right: 2.5rem!important;
    padding-left: 1rem!important;
}

.px-2 {
    padding-right: 1.5rem!important;
    padding-left: 1rem!important;
}

.py-3 {
    padding-top: 0.4rem!important;
    padding-bottom: 0.2rem!important;
}

.navbar-toggler {
    padding: 0.20rem 0.40rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#mainNav {
    box-shadow: 0 .125rem .25rem rgb(0 0 0 / 10%);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: #560d21;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #560d21 !important;
}


@media (min-width: 992px) {
    #mainNav {
        box-shadow: none;
        background-color: transparent;
    }
    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }
    #mainNav .navbar-brand:hover {
        color: #fff;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }
    #mainNav.navbar-shrink {
        box-shadow: 0 0.1rem 0.3rem rgb(0 0 0 / 15%);
        background-color: #fff;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #212529;
    }
    #mainNav.navbar-shrink .navbar-brand:hover {
        color: #560d21;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
    #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
        color: #560d21;
    }
    .img-navbar{
        width: 100px;
        height: 35px;
    }
}

/*SERVICIOS*/
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
/**/
.oscurecer-img {
    filter: brightness(30%);
}

hr.divider {
    height: 0.2rem;
    max-width: 8.25rem;
    margin: 1.5rem auto;
    background-color: #560d21;
    opacity: 1;
}

hr.divider2 {
    height: 0.2rem;
    max-width: 8.25rem;
    margin: 0.5rem auto;
    background-color: #560d21;
    opacity: 1;
}

.carousel-caption-opc1 {
    position: absolute;
    top: 20%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.carousel-caption-opc2 {
    position: absolute;
    top: 20%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

.btn-carousel-opc {
    color: #fff;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.15);
    border: 2px solid #fff;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-carousel-opc:hover {
    color: #fff;
    background-color: #2125299f;
    box-shadow: none;
}

.titulo-opc {
    font-family: 'Playfair Display', serif;
    font-size: 7vw;
}

.info-opc {
    font-size: 3vw;
}

.p-opc2 {
    margin-bottom: 0.2rem;
}

.titulo-opc1 {
    font-size: 6vw;
}

.altura {
    padding: 20px 0;
}

.texto-justificado {
    text-align: justify;
}

.page-section {
    padding: 3rem 0;
}

.bg-primary {
    /*font-size: 3vmin;*/
    color: black;
    background-color: #5050500e !important;
}
/*
.text-opc {
    font-size: 2.7vmin;
}

.text-opc2 {
    font-size: 2.5vmin;
}

.text-titulo-opc {
    font-size: 3vmin;
}

.text-opc3 {
    font-size: 3.6vmin;
}*/

.img-navbar{
    width: 125px;
    height: 45px;
}

/** Linea de tiempo**/

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
}

.timeline>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline>li:after,
.timeline>li:before {
    display: table;
    content: " ";
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffffff;
}

.timeline>li .timeline-image h4,
.timeline>li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4,
.timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading,
.timeline .timeline-heading .subheading.h4 {
    text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
    margin-bottom: 0;
}

@media (max-width: 500px) {
    .img-icono img{
        width: 70px;
        height: 70px;
    }
    .img-navbar{
        width: 75px;
        height: 25px;
    }
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px;
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline>li .timeline-image h4,
    .timeline>li .timeline-image .h4 {
        margin-top: 40px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

.letra-timeline {
    color: #212529;
}


/*PORTAFOLIO*/

#portfolio .container-fluid,
#portfolio .container-sm,
#portfolio .container-md,
#portfolio .container-lg,
#portfolio .container-xl,
#portfolio .container-xxl {
    max-width: 1920px;
}

#portfolio .container-fluid .portfolio-box,
#portfolio .container-sm .portfolio-box,
#portfolio .container-md .portfolio-box,
#portfolio .container-lg .portfolio-box,
#portfolio .container-xl .portfolio-box,
#portfolio .container-xxl .portfolio-box {
    position: relative;
    display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption,
#portfolio .container-sm .portfolio-box .portfolio-box-caption,
#portfolio .container-md .portfolio-box .portfolio-box-caption,
#portfolio .container-lg .portfolio-box .portfolio-box-caption,
#portfolio .container-xl .portfolio-box .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: #560d20e0;
    transition: opacity 0.25s ease;
    text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
    font-family: 'Raleway', sans-serif;
    /*font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-md .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name,
#portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-sm .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-md .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-lg .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xl .portfolio-box:hover .portfolio-box-caption,
#portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 230px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 100%;
    height: 230px;
}

.gmap_iframe {
    height: 230px!important;
}

.bg-primary-new {
    background-color: #560d21;
}

.btn-primary {
    color: var(--color-white);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.btn-primary:hover {
    color: var(--color-white);
    background-color: var(--main-color-hover);
    border-color: var(--main-color-hover);
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: var(--color-white);
    background-color: var(--main-color);
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.25rem var(--main-color-shadow);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: var(--color-white);
    background-color: var(--main-color);
    border-color: var(--main-color-shadow);
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem var(--main-color-shadow);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: var(--color-white);
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.dif {
    width: 100%;
    padding: 2px 10px 0px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #D1D1D1;
    color: black;
    font-weight: 400%;
}

.modal-footer {
    display: initial;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: 0.15rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}

a {
    text-decoration: none;
    background-color: transparent;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-around;
}